<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/sleepcycle_disturbed_sleep.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li>SLEEPNET</li>
    </ul>
    <p>Sleep apnea detection using physiological signals with neural networks(Conv Net and Recurrent Net).</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ss_ML.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Machine Learning Platform for Real-time monitoring </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Design and Development of physiologic signal acquisition and analysis system with Machine Learning backend to predict events</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>